# Ignore virtual environments and dependencies
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment files
.env
*.log

# Ignore version control files
.git/
.gitignore

# Ignore editor and system files
.vscode/
.idea/
.DS_Store
Thumbs.db


# Ignore Streamlit and other cache files
.streamlit/
Research/

